<h1>Hello, <%= @user.first_name %> </h1>

<ul>
 <li>
   Birthday: <%= "#{@user.birthday.month}/" + "#{@user.birthday.day}/" + "#{@user.birthday.year}"%>
 </li>
</ul>

<%= link_to "My Friends", friendships_path%>

<h3> Profile Wall </h3>
